body{
    background-image: url(img/fon-2.jpg);
}
.center{
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    padding-left: 250px;
    }
 button{
        width: 255px;
        height: 40px;
        font-size: 25px;
        margin-top: 150px;
        border: solid gray 3px;
    }
    #logo{
        border: 3px solid black;
        background-color: blanchedalmond;
    }
.profe{
    display: inline-flex;
    color: blanchedalmond;
    margin-top: 150px;
    border: gray solid 5px;
}
.profe1{
    display: inline-flex;
    margin-top: 150px;
    color: blanchedalmond;
    border: gray solid 5px;
}
footer{
    margin-top: 150px;
}
.cont{
    color: honeydew;
}